.AppLink {
    color: var(--primary-color);

}

.primary {
    color: var(--primary-color);

}

.secondary {
    color: var(--secondary-color);
}

.in_primary {
    color: var(--inverted-primary-color);

}

.in_secondary {
    color: var(--inverted-secondary-color);
}